body{
  background-color: #212121;
}
.App{
  display: flex;
  justify-content: center;
  align-items: center;
}
.calc-wrapper{
  background-color: darkgray;
  width: 400px;
  border-radius: 16px;
}
.row{
  display: flex;
}